*{
  color: #FFF !important;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left,#66B485,#C17B4F);
}
li{
  list-style: none;
}
#logo{
  height: 10%;
  width: 60%;
  margin: 2em;
}
#navigation{
  margin: 1em;
}
#form, button{
  height: 3.5em;
  width:80%;
  margin: 2em;
  background-color: white;
  opacity: 0.5;
}
button{
  background-color: transparent;
}
button:disabled{
  background-color: gray;
}
a{
  font-weight: bolder;
}
#facebook{
  background-color: transparent;
}
.btn{
  box-shadow: none !important;
  border: 1px solid #ffffff6b !important;
}
hr{
  border-top: 1px solid #ffffff6b;
}
#footer{
  border-top: 1px solid #ffffff6b;
  margin-top: 2em;
  padding: 2em;
}
input {
    color: black !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.marco {
    height: 20em;
    margin: 1em 0em .5em 0em;
    outline: 1px solid white;
}
.dos{
  height: 41em;
}
img{
  height: 100%;
  width: 100%;
  padding: 1em;
      border-radius: 2em;
}
